<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
    <span th:replace="~{homepage :: bootstrapImports}"></span>
    <span th:replace="~{homepage :: header}"></span>
</head>
<body class="bg-light">

<main class="container mt-5">
    <div class="row justify-content-center">
        <div th:object="${student}" class="col-md-6">
            <div class="card bg-info mb-3 border border-info">
                <div class="card-body text-white">
                    <h3 class="card-title">Student Details</h3>
                    <h5 class="card-subtitle mb-2">
                        <span th:text="*{lastname}"></span>,
                        <span th:text="*{firstname}"></span>
                    </h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Age: <span th:text="*{age}"> ans</span></li>
                        <li class="list-group-item">Email: <span th:text="*{email}"></span></li>
                        <li class="list-group-item">Phone: <span th:text="*{phone}"></span></li>
                    </ul>
                    <div class="text-center mt-3">
                        <a class="btn btn-dark" th:href="@{/students}"><i class="bi bi-arrow-left me-1"></i>Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
