<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <span th:replace="~{homepage :: bootstrapImports}"></span>
    <span th:replace="~{homepage :: header}"></span>
</head>
<body class="bg-light">

<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <table class="table table-hover table-light text-center">
                <thead class="table-light">
                <tr>
                    <th scope="col">Last Name</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s : ${students}">
                    <td th:text="${s.lastname}"></td>
                    <td th:text="${s.firstname}"></td>
                    <td th:text="${s.email}"></td>
                    <td>
                        <a th:href="@{/detail/{studentId}(studentId=${s.id})}" class="btn btn-dark">
                            <i class="bi bi-eye me-2"></i>Details
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

</body>
</html>
