<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <span th:replace="~{homepage :: bootstrapImports}"></span>
    <span th:replace="~{homepage :: header}"></span>

</head>
<body class="bg-light">

<main class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <h2 class="mb-5 display-5 text-center">Liste des étudiants</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <table th:unless="${students.isEmpty()}" class="table table-hover table-light text-center">
                <thead class="table-light">
                <tr>
                    <th class="text-info" scope="col">Last Name</th>
                    <th class="text-info" scope="col">First Name</th>
                    <th class="text-info" scope="col">Email</th>
                    <th class="text-info" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s : ${students}">
                    <td th:text="${s.lastname}"></td>
                    <td th:text="${s.firstname}"></td>
                    <td th:text="${s.email}"></td>
                    <td>
                        <a th:href="@{/details/{id}(id=${s.id})}" class="btn btn-dark me-1">
                            <i class="bi bi-eye me-2"></i>Details
                        </a>
                        <a th:href="@{/delete/{id}(id=${s.id})}" class="btn btn-outline-danger me-1">
                            <i class="bi bi-x-lg me-2"></i>Supprimer
                        </a>
                        <a th:href="@{/edit/{id}(id=${s.id})}" class="btn btn-outline-warning">
                            <i class="bi bi-pencil-square me-2"></i>Editer
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${students.isEmpty()}" class="text-center text-danger mt-3">
                <h3><i class="bi bi-ban me-1"></i>Oups, aucun étudiant n'a été trouvé !</h3>
                <a class="btn btn-dark mt-5" th:href="@{/students}"><i class="bi bi-arrow-left me-1"></i>Retour</a>
            </div>
        </div>
    </div>
</main>
<span th:replace="~{homepage :: footer}"></span>
</body>
</html>
