<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Lapin</title>
    <span th:replace="~{pageA :: styleImports}"></span>
</head>
<body>
    <main class="container">
        <div class="card mt-5" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Détail de mon lapin</h5>
                <h6 class="card-subtitle mb-2 text-muted"><span th:text="${myBunny.name}"></span></h6>
                <p class="card-text">Race: <span th:text="${myBunny.breed}"></span></p>
                <a class="card-link" th:href="@{/list}">retour</a>
            </div>
        </div>
    </main>



</body>
</html>