<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Bunny</title>
    <span th:replace="~{pageA :: styleImports}"></span>
</head>
<body>
<header>
    <nav>
        <h2>Formulaire</h2>
        <a th:href="@{/}">HomePage</a>
    </nav>
</header>

<main class="container">


    <form th:action="@{/add}" th:object="${bunny}" method="post">
        <div class="mb-3">
            <label class="form-label" for="name">Nom:</label>
            <input type="text" class="form-control"  id="name" th:field="*{name}">
        </div>
        <div class="mb-3">
            <label class="form-label"  for="breed">Race:</label>
            <input type="text" class="form-control"  id="breed" th:field="*{breed}">
        </div>
        <div class="mt-3 d-flex justify-content-end">
            <button class="btn btn-primary">Ajouter</button>
        </div>
    </form>

</main>


</body>
</html>